@page "/"
@using ZoomRoom.Persistence.Models

<PageTitle>Конференції</PageTitle>

@if (_loading)
{
    <p><em>Завантаження...</em></p>
}
else
{
    <MudTable Items="@_meetings" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<Meeting, object>(x=>x.Title)">Тема</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<Meeting, object>(x=>x.Duration)">Тривалість</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<Meeting, object>(x=>x.ScheduledTime)">Час початку</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing"></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd Class="column-spacing">@context.Title</MudTd>
            <MudTd Class="column-spacing">@context.Duration</MudTd>
            <MudTd Class="column-spacing">@context.ScheduledTime</MudTd>
            <MudTd Class="column-spacing"><MudButton OnClick="()=>GetDetails(context)" style="background: rgb(33,150,243); color:white;" EndIcon="@Icons.Material.Filled.Info" Variant="Variant.Filled" Size="Size.Small">Деталі</MudButton></MudTd>
            <MudTd Class="column-spacing"><MudButton OnClick="()=>EditMeeting(context)" style="background:rgb(30,200,165); color:white;" EndIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Size="Size.Small">Редагуватии</MudButton></MudTd>
            <MudTd Class="column-spacing"><MudButton OnClick="()=>DeleteMeeting(context)" style="background: rgb(244,67,54); color:white;" EndIcon="@Icons.Material.Filled.DeleteForever" Variant="Variant.Filled" Size="Size.Small">Видалити</MudButton></MudTd>
        </RowTemplate>
    </MudTable>

}
