@page "/"
@using ZoomRoom.Persistence.Models

<PageTitle>Конференції</PageTitle>

@if (_loading)
{
    <p><em>Завантаження...</em></p>
}
else
{
    <MudTable Items="@_meetings" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<Meeting, object>(x=>x.Title)">Тема</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<Meeting, object>(x=>x.Duration)">Тривалість</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing">
                <MudTableSortLabel SortBy="new Func<Meeting, object>(x=>x.Id)">Id</MudTableSortLabel>
            </MudTh>
            <MudTh Class="column-spacing"></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd Class="column-spacing">@context.Title</MudTd>
            <MudTd Class="column-spacing">@context.Duration</MudTd>
            <MudTd Class="column-spacing">@context.Id</MudTd>
        </RowTemplate>
    </MudTable>

}
